# dbt
target/
dbt_packages/
dbt_modules/
logs/

# DuckDB
*.duckdb
*.duckdb.wal

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# MacOS
.DS_Store

# IDE
.vscode/
.idea/

# dlt
.dlt/
pip_install.sh
*pipeline_data/
